@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500;900&display=swap');

/* Global */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 1320px;
    font-family: 'Poppins', sans-serif;
}

/* Home */
.navbar{
  background-color: black;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
     
}


.home-text{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-color: rgba(255, 166, 0, 0.527);
    margin: 25px 0;
    padding: 0 25px;
    border-style:ridge;
}


@keyframes mymove {
  50% {font: 40px bold;}
}


.home h1 {
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    text-align:center;
    text-transform:capitalize;
   
}

.home i {
    text-align: center;
    font-size: 100px;
    color: white;    
}

.home p{
    font-family: 'Playfair Display', cursive; 
    font-style: italic;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

/* NavBar */

.navbar nav {
    background-color:floralwhite;  
}

.navbar nav  ul{
    display: flex;
    align-items: center;
    padding: 0.1px;
    margin-top: 20px;
    
}
 
.navbar nav  ul li {
    display: inline-block;
    margin-bottom: 20px;
    list-style: none;   
    padding: 10px;   
}
.navbar nav  ul li a{
    text-decoration: none;
    padding: 10px 20px;
}

a.active,a:hover{
    background-color: orange;
    color: black;
    transition: 3s;
    
}

.quiz h2 {
  font-size: 60px;
  font-family:'Kaushan Script', cursive;
  color: black;
  text-align:center;
  text-transform:capitalize;
 
}
form-control {
  margin-bottom: 2rem;
}
.question-label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}
.form-input {
  border: none;
  background: rgb(204, 204, 204);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 1rem;
}
.form-input {
  border: none;
  background: rgb(204, 204, 204);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 50%;
  border-radius: 1rem;
}

.category-label {
  display: block;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}

.difficulty {
  display: block;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}

.submit-btn {
  width: 20%;
  margin-top: 3rem;
  padding: 0.55rem 0.1rem;
  border-radius: 1rem;
  background-color:goldenrod;
  font-weight: 800;
  text-transform: uppercase;
  font-size: larger;
}

/*
.guide h1{
  font-style: italic;
  font-weight: 900px;
  font-size: 150%;
}
*/

.parguide{
  font-weight: 500px;
  font-size: 200%;
  height: 100%;

}

.guide{
  height: 100vh;
}

.guide h1{ 
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 350%;
  margin-left: 2%;
  text-decoration: underline;
  color: orange;
  font-weight: 900;
}
.guide-list{
  margin-left: 5%;
  color: black;
  font-family: 'Playfair Display', cursive; 
  font-size: 150%;
  font-weight: bold;
  font-style: oblique;
  font-stretch: expanded;
}

.questions{
  font-family: 'Playfair Display', cursive;
  font-style:italic;
  font-size:x-large;
  margin-left: 5%;
  margin-top: 5%;
  font-stretch: expanded;
  height: 10%;
  background-color: rgba(255, 166, 0, 0.733);
  margin: 40px 10px;
  padding: 10px 25px;
}

/*
.guide-list{
  text-decoration: none;
}
*/

/*
.guide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-size: 120%;
  font-style: italic;
  color: black;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  background-size: 100%;
}
*/

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
